:root {
    --primary-background-color: #394867;
    --secondary-background-color: #c5e5f8;
    --primary-font-color: #fff;
    --secondary-font-color: #394867;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-background-color);
    position: relative;
    min-height: 100vh;
}

.main-header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: var(--secondary-background-color);
    width: 100%;
    min-height: 200px;
    color: var(--secondary-font-color);
}

footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-background-color);
    color: var(--secondary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}